@{
    ViewBag.Title = "Home Page";
}



    <section>
        <article>
            <h3>Статья 1</h3>
            <aside>@DateTime.UtcNow.DayOfYear</aside>
            <div class="tex">
                Use this area to provide additional information.
                Use this area to provide additional information.
                Use this area to provide additional information.Use this area to provide additional information.Use this area to provide additional information.
                Use this area to provide additional information.
                Use this area to provide additional information.
                Use this area to provide additional information.
            </div>
        </article>
        <hr />
        <article>
            <h3>Статья 2</h3>
            <aside>@DateTime.UtcNow.DayOfYear</aside>
            <div class="tex">
                Use this area to provide additional information.
                Use this area to provide additional information.
                Use this area to provide additional information.Use this area to provide additional information.Use this area to provide additional information.
                Use this area to provide additional information.
                Use this area to provide additional information.
                Use this area to provide additional information.
            </div>
        </article>
        <hr />
        <article>
            <h3>Статья 3</h3>
            <aside>@DateTime.UtcNow.DayOfYear</aside>
            <div class="tex">
                Use this area to provide additional information.
                Use this area to provide additional information.
                Use this area to provide additional information.Use this area to provide additional information.Use this area to provide additional information.
                Use this area to provide additional information.
                Use this area to provide additional information.
                Use this area to provide additional information.
            </div>
        </article>
    </section>